extends layout

block content
	.navbar.navbar-fixed-top
		.navbar-inner
			.navbar-container
				a(class='brand', href='/')
					span(style='color: red') S
					span(style='color: green') o
					span(style='color: blue') u
					span(style='color: magenta') r
					span(style='color: orange') e
					span(style='color: brown') e
				ul.nav
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') Project
							b.caret
						ul.dropdown-menu(role='menu')
							li
								a Save to file...
							li
								a Preview
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown') Stave
							b.caret
						ul.dropdown-menu(role='menu')
							li
								a Clef

	.content
		.page-container
			#page
				div(contenteditable).title
					h1.centre.title Title
				.music
					#clef.dropdown-toggle(data-toggle='dropdown')
						img.treble.current-clef
					ul.dropdown-menu.clef-select-menu
						li
							a(href='#').treble-select
								img.treble.mini
								b Treble
						li
							a(href='#').bass-select
								img.bass.mini
								b Bass
					.line
						.note
						.stave
							.empty
							.empty
							.empty
							.note
						.stave
							.empty
							.empty
							.note
						.stave
							.empty
							.note
						.stave
							.note
	#footer
		hr
		.centre
			p Souree 2013. Designed by Alexandru Onea.