extends layout

block content
	.navbar.navbar-fixed-top
		.navbar-inner
			.navbar-container
				a(class='brand', href='/') Souree
				ul.nav
	.content
		.page-container
			#page
				h1.centre Title
				canvas